@using ProjectAPI.Model
@using ProjectAPI.Model.Enum
@model List<TodoDTO>
<div class="mb-4 mt-5 pt-5 pb-3 d-flex justify-content-center row">
    @if(Model != null && Model.Any())
    {
      @foreach (var item in Model)
      {
        <div class="card" style="width: 18rem;">
          <div class="card-body">
                <p  class="card-text text-truncate">@item.Description</p>
           <div class="input-group mb-3">
                <label asp-for="@item.Date" class="input-group-text"></label>
                <input disabled type="datetime-local" asp-for="@item.Date" class="form-control" />
           </div>
          <div class="input-group mb-3">
            <label asp-for="@item.Status" class="input-group-text"></label>
            <select disabled asp-for="@item.Status" class="form-control">
                @switch (@item.Status)
                {
                    case @Status.FINISHED:
                     <option value="@Status.FINISHED" selected>Finished</option>
                     <option value="@Status.IN_PROGRESS" >IN_PROGRESS</option>
                     <option value="@Status.ONHOLD" >ONHOLD</option>
                    break;
                    case @Status.IN_PROGRESS:
                     <option value="@Status.IN_PROGRESS" selected>IN_PROGRESS</option>
                     <option value="@Status.ONHOLD" >ONHOLD</option>
                     <option value="@Status.FINISHED" >Finished</option>
                    break;
                    case @Status.ONHOLD:
                     <option value="@Status.ONHOLD" selected>ONHOLD</option>
                     <option value="@Status.FINISHED" >Finished</option>
                     <option value="@Status.IN_PROGRESS" >IN_PROGRESS</option>
                    break;
                }
            </select>
          </div>
            <div class="text-center">
                <a asp-controller="Todo" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-warning" style="width:150px">Detail</a>
            </div>
          </div>
       </div>
      }
        <div class="text-center">
            <a asp-controller="Todo" asp-action="create" class="btn btn-success" style="width:150px">Create new todo</a>
        </div>
   
    }
    else
    {
        <div class="text-center">
        <h1>No todos found ;(</h1>
            <div>
            <a asp-controller="Todo" asp-action="create" class="btn btn-success" style="width:150px">Create new todo</a>
            </div>
        </div>
    }
</div>